VITE_SUPABASE_PROJECT_ID="VITE_SUPABASE_PROJECT_ID_SAMPLE"
VITE_SUPABASE_PUBLISHABLE_KEY="VITE_SUPABASE_PUBLISHABLE_KEY_SAMPLE"
VITE_SUPABASE_URL="https://VITE_SUPABASE_PROJECT_ID_SAMPLE.supabase.co"
